<?xml version="1.0" encoding="UTF-8"?>
<suite name="Cucumber Suite" parallel="false">
    <test name="Cucumber Test">
        <parameter name="continueAfterFailure" value="true"/>

        <listeners>
            <listener class-name="define.TestNGListener"/>
            <listener class-name="com.aventstack.extentreports.testng.listener.ExtentITestListenerClassAdapter"/>
        </listeners>

        <classes>
            <class name="runners.TestRunner"/>
        </classes>
    </test>
</suite>
