name: Run Selenium Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 22
        uses: actions/setup-java@v4
        with:
          java-version: '22.0.1'
          distribution: 'temurin'

      - name: Setup Chrome
        uses: browser-actions/setup-chrome@v1

      - name: Run Tests
        run: mvn clean test

      - name: Upload Reports
        uses: actions/upload-artifact@v4
        with:
          name: test-reports
          path: |
            target/cucumber-reports/**
            target/cucumber-reports.html
            target/extent-cucumber-report.html
            target/surefire-reports/**
      # Add this step to upload your recorded videos
      - name: Upload Videos
        uses: actions/upload-artifact@v4
        with:
          name: test-recordings
          path: recordings/